body {
	font-family: 'Poppins', sans-serif;
}
header .carousel-inner .item {
	height: 80vh;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 40px;
	padding: 40px 15px;
	font-weight: 900;
}
.nav.navbar-nav.navbar-right {
	margin: 25px 0;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
}
.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}
.carousel-caption {
	padding-bottom: 250px;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #EDBB00;
}
.carousel-caption a {
	background: #EDBB00;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
.carousel-indicators .active {
	background-color: #EDBB00;
	border-color: #EDBB00;
}
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 120px;
	}
	.carousel-caption h2 {
		font-size: 25px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}
/*****************************about****************************************/
.zippy{

    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;  
   
}
.zippy p{
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    float: left;
    padding:10px;
}
/****************************project-section***************************************/
#projects {
	padding: 1rem 0;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: var(--body-bg);
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #5a24ed38;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}

/*************************************pricing***************************/
.head
{
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}
body
{
	font-family: poppins,cursive;
	background: #eee;
}
.wrapper
{
	width: 900px;
	margin: 5% auto;
	border: 10px;
}
.single-price
{
	width: 33%;
	background: #262626;
	float: left;
	margin-top: 2%;
	justify-content: 20px space-between;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-top: 10px;
	transition: 0.9s;
}
.price{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid #eee;
	margin: 5% auto 0 auto;
	text-align: center;
}
.head h3:hover
{
  transform: scale(1.3);
  z-index: 2;
}
.deals
{
	margin-top: 10%;
}
.single-price h1
{
	font-size: 18px;
	color: #fff;
	line-height: 3;
	text-transform: uppercase;
}
.price h2
{
	font-size: 38px;
	color: #fff;
}
.deals h4
{
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	line-height: 1;
}
.single-price:hover
{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
	transform: scale(1.1);
	z-index: 1;
	border-radius: 25px;
}
.single-price:hover .price
{
	border-color: #fff;
}
.single-price a
{
	text-decoration: none;
	background: #ccc;
	color: #fff;
	padding: 10px 60px;
	display: inline-block;
	margin: 10% auto;
	text-transform: uppercase;
	font-weight: bold;
}
.single-price:hover a{
	background: #262626;
	color: #fff;
}
/*******************************team***********************/
body{
	background: #eee;
	font-family: poppins;
  }
  
  .wrapper{
	margin-top: 10%;
  }
  
  .wrapper h1{
  padding: 20rem 0 10rem 0;
	font-family: poppins, cursive;
	font-size: 52px;
	margin-bottom: 60px;
	text-align: center;
  }
  
  .team{
	display: flex;
	justify-content: center;
	width: auto;
	text-align: center;
	flex-wrap: wrap;
	transition: 1s;
  }
  
  .team .team_member{
	background: #fff;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #8e8b8b;  
	position: relative;
  }
  
  .team .team_member h3{
	color: #44c6bf;
	font-size: 26px;
	margin-top: 50px;
  }
  .team .team_member h3:hover
  {
	  transform: scale(1.3);
	  z-index: 2;
  }
  
  .team .team_member p.role{
	color: #ccc;
	margin: 12px 0;
	font-size: 12px;
	text-transform: uppercase;
  }
  .team .team_member p.role:hover
  {
	transform: scale(1.3);
	z-index: 2;
  }
  
  .team .team_member .team_img{
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
  }
  
  .team .team_member .team_img img{
	width: 100px;
	height: 100px;
	padding: 5px;
  }
  .team .team_member .team_img img:hover
  {
	  transform: scale(1.3);
	  z-index: 2;
  }
  /***************video projects*******************/
  .c
  {
	  font-size: 40px;
	  font-style: italic;
	  text-transform: uppercase;
	  color: goldenrod;
	  text-align: center;
	  padding-bottom: 15px;
  }
  .c:hover
  {
	transform: scale(1.3);
	z-index: 2;
  }
  .Youtube
  {
	  line-height: 30px;
	  margin: 6%;
	  margin-right: 4%;
	  justify-content: space-between;
	  cursor: pointer;
  }
  .Youtube:hover
  {
	  background: #fff;
  }
  /******************life in zippy************/
  .co
  {
	  font-size: 40px;
	  font-style: italic;
	  text-transform: uppercase;
	  color: gold;
	  text-align: center;
	  padding-bottom: 15px;
  }
  .co:hover
  {
	transform: scale(1.3);
	z-index: 2;
  }
  .zippy
  {
	  line-height: 30px;
	  margin: 9%;
	  margin-right: 10%;
	  justify-content: space-between;
	  cursor: pointer;
  }
  .zippy img:hover
  {
	transform: scale(1.3);
    z-index: 2;
  }

 /* blog */

#blog{
	text-align: center;
    width: 100%;
    align-items: center;
    margin: auto;
    background:linear-gradient(white,rgba(4,9,30,0.4));
    
   
    
}
#blog h3{
    font-size: 36px;
    font-weight: 600;
    padding-top: 20px;
    margin-top: 2%;
   
}
#blog .blog1{
    width: 100%;
    height: 650px;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center; 
    padding: 20px 0;
   
   
}
#blog .blog2{
    position: relative;
    width:300px;
    height: 600px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;  
    display: flex;
    justify-content: space-between;        
}
#blog .blog2 .blog3{
    position: relative;
    width: 100%;
    margin: 5%;
    background: rgba(245, 245, 245, 0.856);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    align-items: center;
    transition: 0.5s;
}
  
#blog .blog2:hover .blog3{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
#blog .blog2 .blog3 .blog4{
    
    text-align: center;
    height: 200px;
}
.blog4 h2,p{
    padding-top: 20px;
    padding: 2%;

}
.blog4 h4{
    color: red;
}

#blog .blog2 .blog3 .blog4 img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
@media(max-width: 700px){
    #blog{
        width: 100%;
        
    }
    #blog .blog1{
        height:2000px;
        flex-direction: column;
        align-items: center;
        
    }
 
}
  /****************newsletter**************/
.Newsletter
{
	width: 100%;
	margin: auto;
	text-align: center;
}
.news
  {
	  background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)) url(images/p\(5\).jpg);
	  background-position: center;
	  background-size: cover;
	  padding: 100px 40px;
	  text-align: center;
	  color: #311580;
  }
  .news h3{
	  font-size: 36px;
	  font-weight: 600;
	  margin: 40px auto;
  }
  .email-box
  {
	  height: 40px;
	  display: flex;
	  justify-content: center;
  }
  .email-box i{
	  background: black;
	  width: 40px;
	  line-height: 40px;
  }
  .newws .box1, .box2{
	  border: none;
	  outline: none;
  }
  .box1
  {
	  width: 0px;
	  transition: 0.5s;
  }
  .email-box:hover > .box1, .box1:focus{
	  width: 260px;
	  padding: 0 10px;
  }
  .box2{
	  background: black;
	  color: white;
	  padding: 0 10px;
	  text-transform: uppercase;
  }

  /***********************review*******************/
  .reviews{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
    }
    .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    }
    
    .border{
    width: 160px;
    height: 5px;
    background: #4cb0a8;
    margin: 26px auto;
    }
    
    .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .row:hover
    {
    transform: scale(1.3);
    z-index: 2;
    }
    .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    }
    
    .review{
    background: #fff;
    padding: 30px;
    }
    .review img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }
    .review img:hover
    {
    transform: scale(1.3);
    z-index: 2;
    }
    .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    }
    .stars{
    color: #4cb09f;
    margin-bottom: 20px;
    }
    
    
    @media screen and (max-width:960px) {
    .col{
    flex: 100%;
    max-width: 80%;
    }
    }
    
    @media screen and (max-width:600px) {
    .col{
    flex: 100%;
    max-width: 100%;
    }
    }
/**********************contact*****************/
#contact {
  text-align: center;
	padding: 10rem 0;
}
#contact .wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 5rem;
}
#contact .wrapper .left {
	flex: 1;
}
#contact .wrapper .right {
	flex: 1;
}
#contact .left .contact-heading {
	font-family: 'Montserrat';
	font-size: 3rem;
	margin-bottom: 1rem;
}
#contact .left .contact-desc {
	color: var(--secondary-gray);
	margin-bottom: 4rem;
}
#contact .left .contact-info {
	margin-bottom: 5rem;
}
#contact .left .contact-info ul {
	list-style: none;
}
#contact .left .contact-info ul li {
	border-radius: 12px;
	overflow: hidden;
}
#contact .left .contact-info ul li a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	font-size: 2rem;
	padding: 1.5rem;
}

#contact .left .contact-info ul li:hover {
	background-color: #311580;
}
#contact .left .contact-info ul li:hover .icon {
	color: white;
}
#contact .left .contact-info ul li:hover .text {
	color: white;
}
#contact .left .contact-info ul li a .icon {
	width: 25px;
	color: var(--primary-color);
}
#contact .left .contact-info ul li a .text {
	color: var(--secondary-gray);
}
#contact .left .social-info ul {
	display: flex;
	list-style: none;
	font-size: 2rem;
	gap: 2rem;
}
#contact .left .social-info ul li a {
	color: #311580;
}
#contact .right .form-wrapper {
	background-color: #311580;
	max-width: 500px;
	margin: 0 auto;
	padding: 5rem;
	border-radius: 12px;
	color: black;
}
#contact .right .form-group {
	margin-bottom: 1rem;
}
#contact .right .form-group label {
	margin-bottom: 0.5rem;
	display: inline-block;
	font-size: 1.8rem;
}
#contact .right .form-group .input-wrapper {
	background-color: white;
	color: black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 40px;
	border-radius: 4px;
	overflow: hidden;
}
#contact .right .form-group .input-wrapper .icon {
	font-size: 2rem;
	height: 100%;
	width: 50px;
	background-color: rgb(218, 218, 218);
	display: flex;
	align-items: center;
	justify-content: center;
}
#contact .right .form-group .input-wrapper input {
	padding: 1rem;
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	font-size: 2rem;
}
#contact .right .form-group textarea {
	width: 100%;
	height: 250px;
	resize: vertical;
	font-size: 2rem;
	padding: 1rem;
	outline: none;
	border-radius: 4px;
}
#contact .right .form-wrapper button {
	display: inline-block;
	width: 150px;
	font-size: 2rem;
	text-transform: uppercase;
	height: auto;
	padding: 1rem 0;
	font-family: 'Roboto Mono';
	letter-spacing: 0.3rem;
	border-radius: 8px;
	outline: none;
	border: none;
	cursor: pointer;
}
@media only screen and (max-width: 768px) {
	#contact .wrapper {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	#contact .right {
		width: 100%;
	}
	#contact .right .form-wrapper {
		padding: 3rem;
		width: 100%;
		max-width: 100%;
	}
}
/*******************8footer*********************/

#footer {
	background-color: #311580;
	color: #EDBB00;
	padding: 10rem 0 5rem 0;
}
#footer footer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2rem;
}
#footer footer .col-1 {
	flex: 3;
}
#footer footer .col-3,
#footer footer .col-4 {
	flex: 2;
}
#footer footer .col-4 {
	flex: 1;
}

#footer footer .col-1 .logo img {
	max-width: 100px;
	margin-bottom: 2rem;
}
#footer footer .col-1 p {
	color: white;
}

#footer footer .column-heading {
	font-family: 'Montserrat';
	font-size: 2rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
	line-height: 1.5em;
}
#footer footer ul {
	list-style: none;
}
#footer footer ul li {
	border-radius: 4px;
}
#footer footer ul li:hover {
	background-color: white;
}
#footer footer ul li:hover a {
	color: var(--primary-color);
}
#footer footer ul li a {
	display: inline-block;
	width: 100%;
	color: white;
	font-size: 1.7rem;
	padding: 0.5rem;
}
#footer footer .col-4 ul {
	display: flex;
	flex-wrap: wrap;
}
#footer footer .col-4 ul li a {
	min-width: 50px;
}
@media only screen and (max-width: 768px) {
	#footer footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	#footer footer .col-1,
	#footer footer .col-2,
	#footer footer .col-3,
	#footer footer .col-4 {
		width: 100%;
		margin-bottom: 3rem;
	}
	#footer footer .col-4 ul {
		width: fit-content;
		margin: 0 auto;
	}
}
